.flex-container{
  display: flex;
  flex-direction: column;
}
.top-part-flex-container{
  display: flex;
  flex-direction: row;
}
.summer-cactus{
  display: flex;
  flex-direction: row;
  
}
.summer-cactus-text-part{
  display: flex;
}