.container{
  margin: 0 auto;
}
.first-part{
  border-bottom: 0.3px solid #46A358
}
.second-part{
  width: 1211px;
  height: 470px;
  background-color: #F5F5F5;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list{
  display: flex;
  justify-content: space-between;
  width: 351px
}

.list-element:hover{
  font-weight: bold;
  border-bottom: 3px solid #46A358;
}
.side-pictures {
   
  align-items: center;
}
.Login{
  background-color: #46A358;
  border-radius: 6px;
  align-items: center;
}
.login-text{
  color: #FFFFFF
}