.shop-img{
  vertical-align: middle;
}
.logo-img {
  display: inline-block;
  vertical-align: middle;
}
.list {
  display: inline-block;
  margin-left: 229px;
  vertical-align: middle;
}
.list-element {
  display: inline-block;
  margin-right: 50px;
  font-family: "Cera pro";
}
.search-img{
  display: inline-block;
  margin-left: 61px;
  margin-right: 30px;
  vertical-align: middle;
}
.list-element:hover{
  text-shadow:  0 1px; 
  border-bottom: 3px solid #46A358;
}

.Login{
  vertical-align: middle;
  display: inline-block;
  border-radius: 6px;
  background-color: #46A358;
  margin-left: 30px;
  margin-top: 3px;
  padding: 7.5px 27px;
}
.navigation{
  border-bottom: 1px;
}
.login-img{
  vertical-align: middle;
}
.login-text{
  vertical-align: middle;
  color: #FFFFFF
}