.side {
  background-color: #FBFBFB;
  float: left;
  margin: 171px 0 0 135px;  
  width: 310px;
}
.side-items{
  display: inline-block;
  margin: 14px 377px 155px 18px;
}
.side-title {
  font-weight: 700;
  display: block;
}
.side-list-item {
  display: inline-block;
  font-weight: 400;
  color: #3D3D3D;
  text-underline-offset: 0px;
  width: 100px;
  margin: 11.5px 0;
}
.side-list-item:hover {
  color: #46A358;
}
.side-list {
  display: inline-block;
  margin-left: 12px;
}
.Super-Sale{
  display: inline-block;
  margin-left: -26px;
}
.sorting{
  display: inline-block;
  margin: 171px 0 0 50px;
  vertical-align: top;
}
.sorting-list{
  display: inline-block;
}
.sorting-list-item{
  display: inline-block;
  font-weight: 700;
  margin-left: 37px;
}
.sorting-list-item:first-child{
  margin-left: 0;
}
.sorting-list-item:hover{
  color: #46A358;
  border-bottom: 2px solid #46A358;
}
.sorting-list-item:last-child{
  margin-right: 385px;
}
.side-sorting{
  display: inline-block;
}
.main-li-item{
  float:left;
  margin-right: 45px;
  margin-bottom: 70px;
}
.img4{
  width: 250px;
  height: 250px;
}
.main-list{
  width: 900px;
}
.name-flower{
  display:block;
}
.main{
  margin-left: 50px;
  display: inline-block;
}
.main-li-item:nth-child(3n ){
  margin-right: 0;
}
.price{
  display: block;
  color: #46A358;
}
.seventh eigth nineth{
  margin-bottom: 0;
}
.bottom-list{
  float: right;
}
.bottom-list-item{
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  align-content: center;
  display: inline-block;
  width: 18px;
  height: 18px; 
}
.bottom-list-item:hover{
  background-color: #46A358;
}
.container{
  margin-right: auto;
  margin-left: auto;
}