        body {
            background: #eaeaea;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            animation: hidePreloader 2s steps(2, end) forwards;
        }
        
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid rgba(0, 0, 0, 0.1);
            border-top: 5px solid rgba(70, 163, 88, 1);
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
        
            100% {
                transform: rotate(360deg);
            }
        }
        
        @keyframes hidePreloader {
            0% {
                visibility: visible;
            }
        
            100% {
                visibility: hidden;
            }
        } 
        
        main {
            position: relative;
            width: 500px;
            height: 656px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            text-decoration: none;
        }

        button {
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            box-shadow: 0 0 5px rgb(67, 88, 72);
        }

        .closeBtn {
            position: absolute;
            width: 18px;
            height: 18px;
            right: 13px;
            top: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .closeBtn img {
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        .switherLoginRegister {
            width: 157px;
            height: 16px;
            left: 172px;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 500;
            line-height: 16px;
            margin-top: 52px;
        }

        .switherLoginRegisterDivider {
            font-weight: 200;
            color: #727272;
        }

        .loginLink {
            color: #3D3D3D;
        }

        .registerLink {
            color: #46A358;
        }

        .titleRegister {
            width: 300px;
            height: 16px;
            left: 100px;
            margin-top: 40px;
            color: #3D3D3D;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
        }

        form {
            width: 300px;
            left: 100px;
            margin-top: 14px;
        }

        form input {
            width: 100%;
            height: 40px;
            border: 1px solid #EAEAEA;
            border-radius: 5px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            padding: 12px 14px;
            display: block;
        }

        form input::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #A5A5A5;
        }

        form input:focus {
            border: 2px solid #666666;
            outline: none;
            border-radius: 5px;
        }

        .passwordWrapper {
            position: relative;
            width: 100%;
        }

        .passwordWrapper input {
            padding-right: 40px;
        }

        .togglePassword {
            position: absolute;
            top: 50%;
            right: 14px;
            transform: translateY(-50%);
            cursor: pointer;
            width: 20px;
        }

        .submitButton {
            width: 300px;
            height: 45px;
            gap: 0px;
            border-radius: 5px;
            background: rgba(70, 163, 88, 1);
            color: white;
            border: 0;
            margin-top: 25px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            font-family: 'Poppins', sans-serif;
        }

        .titleRegisterWith {
            width: 300px;
            height: 16px;
            left: 103px;
            gap: 0px;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            margin-top: 36px;
            color: rgba(61, 61, 61, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #3D3D3D;

        }

        .titleRegisterWithLine {
            width: 96px;
            height: 0px;
            border: 1px solid rgba(234, 234, 234, 1)
        }

        .googleBtn,
        .facebookBtn {
            position: relative;
            margin-top: 27px;
            border: 1px solid #EAEAEA;
            border-radius: 5px;
            width: 300px;
            height: 40px;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            background-color: white;
            cursor: pointer;
            color: #727272;
        }

        .facebookBtn {
            margin-top: 15px;
        }

        .bottomStripe {
            height: 10px;
            width: 100%;
            background-color: rgba(70, 163, 88, 1);
            position: absolute;
            bottom: 0;
        }
